.posts-control-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-post-control{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.formControl-holder{
    margin-left: 10px !important;
}

.full-width{
    width: 100%;
}


/* .new-post-dialog{
    min-width: 300px !important;
} */