.card{
    min-width: 275px;
}

.title {
    margin-bottom: 16px;
    font-size: 14pt;
}

.formControl {
    min-width: 120px !important;
}

.icon{
    cursor: pointer;
}

.notfound{
    margin-top: 100px;
}