.card{
    min-width: 275px;
}

.title {
    margin-bottom: 16px;
    font-size: 14pt;
}

.formControl {
    min-width: 120px !important;
}

.icon{
    cursor: pointer;
}

.notfound{
    margin-top: 100px;
}

.error-alert{
    margin: 5px 0 0 0 !important;
    color: red !important;
    text-align: center !important;
    min-height: 18px;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.footer{
    margin-top: 20px !important;
}